body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-group {
    margin-bottom: 15px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.input-group input:focus {
    border-color: #007BFF;
    outline: none;
}
.result-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9ecef;
    text-align: center;
}
.button-group {
    text-align: center;
}
.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
.button-group button:hover {
    background-color: #0056b3;
}
.link-group {
    margin-top: 20px;
    text-align: center;
}
.link-group a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}
.link-group a:hover {
    text-decoration: underline;
}